.review {
	margin-bottom: 10px;
  min-width:  1000px;
	max-width: 1000px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 25px 25px 25px 25px 25px auto auto 20px;
  border: solid 1px black;
  align-items: center;
  padding: 1em;
  border-radius: 0.5em;
 	background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
 	box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);
  color: white;

  .pic {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 15px;
    place-self: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;

  }

  .username {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .location {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .rating {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    padding-left: 1em;
  }

  .date {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .review-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .photos {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;

    .photo {
      width: 150px;
      height: 150px;
      padding: 5px;
      border-radius: 0.5em;
    }
  }

  .helpful {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 8;
    width: 100px;
    height: 25px;
    padding: 0;
    margin-top: 10px;
    white-space: nowrap;
  }
}