@use 'login';
@use 'home';
@use 'profile';
@use 'review';

body, html {
	overscroll-behavior: none;
	box-sizing: border-box;
	margin: 0;
}
html, #root {
	background: url("/storage/bg2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.logoutBtn {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;


}

// .shopHeader {
// 	width:fit-content;
// }

.shopHeaderImg {
	width: 300px;
	// height: 300px;
}

/*****************************************************
********************* SEARCH BAR ***********
******************************************************/

.searchContainer {
	height: 50px;
	width: 50%;
	display: flex;
	// border: 2px solid purple;
	margin: 0 auto;

	.searchBar {
		width: 90%;
		margin-right: 10px;
		padding: 10px;
		border-radius: 20px;
		box-shadow: 0 2px 6px 0 rgba(140, 150, 170, .2), 0 24px 20px -24px rgba(71, 82, 107, .1);
		overflow: hidden;
		background: white;
		// display: flex;
		border: 2px solid black;

		input {
			border: none;
			outline: none;
			padding: 0 20px;
			font-size: 16px;
			display: flex;
			align-items: center;
		}
	};

	.toggleSearchBtn {
		border: 1px solid #00B4CC;
		font-size: large;
		background: #00B4CC;
		text-align: center;
		border-radius: 10px;
		padding: 10px;
		color: white;
		margin-right: 10px;
	}


	.searchButton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		padding: 20px;
		border: 1px solid #00B4CC;
		background: #00B4CC;
		text-align: center;
		color: #fff;
		border-radius: 50%;
		cursor: pointer;
		font-size: 20px;

		&:hover {
			transform: scale(1.1);
		}
		&:active {
			transform: scale(1);
		}
	}
}


.click-stars {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color .2s ease-in;
	color: black;
}

.after-click {
	font-size: 1.5rem;
	cursor: pointer;
	transition: color .2s ease-in;
	color: gold;
}