body {
  background-color: lightblue;
}
body h1 {
  color: orange;
}

.search, .search-button {
  height: 5rem;
  border: 0;
  font-size: 1.8rem;
}

.search[type=search] {
  width: 100%;
  background: white;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  position: relative;
}

.search-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  border-radius: 0 0.7rem 0.7rem 0;
}

.search:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
}
.search:not(:placeholder-shown) + .search-button {
  display: block;
}

.search-div {
  position: relative;
  width: 30rem;
}
